
.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/fon1.jpg);
    background-repeat: repeat;
    width: auto;
    z-index: 1;
    overflow: visible;
    height: 1200px;
}
.body1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/fon1.jpg);
    background-repeat: repeat;
    width: auto;
    z-index: 1;
    overflow: visible;
    height: 2200px;
}
.body2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/fon1.jpg);
    background-repeat: repeat;
    width: auto;
    z-index: 1;
    overflow: visible;
    height: 1700px;
}
.hat {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: repeating-linear-gradient(0deg,rgba(255,255,255,0.30),rgba(125, 146, 234, 0.9));
    z-index: 2;
    
}
.card {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -50px;
    height: 1200px;
    background: rgba(125, 146, 234, 0.5);
}
.card1 {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    height: 2050px;
    top:-70px;
    background: rgba(125, 146, 234, 0.5);
}
.hat H3 {
    width: 100px;
    position: absolute;
    left: 100px;
    top: -5px;
    font-family: 'Kurale', cursive; 
    font-size: 30px;
}
.language {
    position: absolute;
    right: 15px;
    top: 30px;
}
.basket {
    width: 570px;
    height: 70px;
    position: absolute;
    top: 5px;
    right: 150px;
}
.aBas {
    width: 50px;
    position: relative;
    float: left;
    font-size: 20px;
    font-family: 'Kurale';
    top: 20px;
    text-decoration: none;
    color: black;
    outline: none;
}
.s1 {
    width: 250px;
    position: absolute;
    right: 250px;
    top: 5px;
}
.s1 P {
    font-size: 18px;
    position: relative;
    left: 0px;
    width: 50px;
    font-family: 'Kurale', cursive; 
}
.s1 INPUT {
    position: relative;
    left: 75px;
    width: 150px;
    bottom: 40px;
}
.card H3 {
    position: relative;
    top: 120px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Kurale';
    color: #600083;
}
.price {
    position: relative;
    top: 50px;
    width: 250px;
    height: 120px;
    left: 70%;
    background-color: rgba(230, 228, 255, 0.49);
}
.price P{
    font-family: 'Kurale';
    font-size: 22px;
    float: left;
}
.cat IMG {
    position: relative;
    left: 15px;
    padding: 30px;
    top:20px;
}
.price input {
    float: right;
    transform: rotate(0deg); 
    border-radius: 100px;
    transition:all 400ms;
    position: relative;
}
.price a {
    width: 130px;
    height: 130px;
}
.buy:hover {
    transform: rotate(360deg);
}
.buy:focus {
    outline: none;
}
.nav {
    display: block;
    position: relative;
}
.nav:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0;
      background: linear-gradient(90deg, 
        #CDE0EE, #CDE0EE 20%,
        #EBF0F3 20%, #EBF0F3 40%, 
        #9BB0C1 40%, #9BB0C1 60%, 
        #5D8BAD 60%, #5D8BAD 80%,
        #041E34 80%, #041E34 100%);
    }
.nav ul {
      width: auto;
      margin: 0 auto;
      list-style: none;
      overflow: hidden;
}
.nav li {
      float:left;
      width: 25%;
        padding-left: 50px;
}
.nav a {
      text-decoration: none;
      text-align: center;
      display: block;
      color: #953bd6;
      padding: 0.5em 0;
      font-size: 28px;
      font-weight: bold;
      transition: 0.5s ease-in-out;
      font-family: 'Kurale', cursive; 
}
.nav a:hover {
    color: #600083;
}
.cat img:hover {
    cursor: pointer; 
    z-index: 1; 
    transform:scale(2.5) translate(0px, 0px);
    transition: all 0.3s linear 0.3s; 
}
.view {
    background-color: rgba(240, 248, 255, 0.59);
    font-size: 22px;
}
#view1 p {
    padding-left: 30px;
}
#characteristics ul {
    list-style-type: none;
}
#reviews ul {
    list-style-type: none;
}
#reviews li {
    padding-top: 30px;
}
a.button1 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(47, 114, 222);
  box-shadow: 0 -3px rgb(28, 69, 242) inset;
  transition: 0.2s;
  padding: .5em 1em calc(.5em + 1px);
  position: relative;
  top: -20px;
} 
a.button1:hover { background: rgb(28, 69, 242); }
a.button1:active {
  background: rgb(28, 69, 242);
  box-shadow: 0 3px rgb(28, 69, 242) inset;
}
.smallcard {
    position: relative;
    margin-top: 0px;
    top: 150px;
    height: 100%;
}
#arrow {
    position: fixed;
    bottom: 60px;
    left: 100px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.35);
}
.product {
    position: relative;
    background: rgba(251, 255, 251, 0.56);
    border-radius: 15px;
    width: auto;
    height: 300px;
    margin: 0;
    margin-top: -100px;

}
.product a {
    text-decoration: none;
    text-align: left;
}
.product a:active {
    color: #600083;
}
.product h4{
    position: relative;
    font-size: 25px;
    float: left;
    top: 0px;
    left: 40px;
    font-family: 'Kurale';
}
.photo {
    position: absolute;
    float: left;
    top: 70px;
    left: 10px;
}
.price1 {
    position: relative;
    margin-top: 170px;
    width: 30%;
    height: 120px;
    margin-left: 70%;
    background: none;
    top: 150px;
}
.price1 input {
    float: right;
    transform: rotate(0deg);
    border-radius: 100px;
    transition:all 400ms;
    position: relative;
    right: -70px;
}
.price1 a {
    position: relative;
    margin-top: 100px;
    width: 130px;
    height: 130px;
}
.description {
    position: absolute;
    float: right;
    margin-top: 50px;
    width: 60%;
    height: 50%;
    left: 40%;
    font-family: 'Kurale';
    font-size: 20px;
}
.price1 p {
    float: right;
    position: relative;
    right: 150px;
    font-family: 'Kurale';
    font-size: 20px;
}
.filter {
    position: relative;
    width: 300px;
    height: 30px;
    top:10px;
    margin: 0;
}
select {
    width: 300px;
    float: left;
    height: 30px;
    border-radius: 30px;
    font-family: 'Kurele';
    font-size: 20px;
    background-color: rgba(236, 255, 248, 0.6);
}
option {
    font-family: 'Kurele';
    font-size: 20px;
    background-color: rgba(236, 255, 248, 0.6);
}
.smallcard h2 {
    float: right;
    font-family: 'Kurele';
    color: #600083;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin-right: 500px;
}
.hBasket {
    background-color: rgba(253, 252, 254, 0.82);
    height: 50px;
    width: 100%;
    position: relative;
    top: 60px;
}
.hBasket h3 {
    position: relative;
    font-family: 'Kurale', cursive;
    color: #600083;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.goods {
    font-family: 'Kurale';
    position: absolute;
    top: 160px;
    width: 50%;
    background-color: rgba(244, 246, 253, 0.93);
    left: 100px;
    border-radius: 15px;
    height: 80%;
}
#button2 {
    position: relative;
    float: right;
    border-radius: 15px;
    background: rgba(7, 12, 247, 0.72);
    box-shadow: 0 -3px rgb(28, 100, 242) inset;
    transition: 0.2s;
    padding: .5em 1em calc(.5em + 1px);
    text-decoration: none;
    top: -72px;
    color: white;
    font-family: 'Kurale';
    font-size: 15px;
    cursor: pointer;
}
.order {
    font-family: 'Kurale';
    position: fixed;
    float: right;
    top: 160px;
    width: 30%;
    right: 100px;
    background-color: rgba(244, 246, 253, 0.93);
    height: 400px;
    border-radius: 15px;
}
.order h3 {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: 'Kurale';
}
.order h4 {
    position: relative;
    left: 10px;
    font-size: 20px;
    font-family: 'Kurale';
}
#countOrder {
    position: relative;
    width: 70px;
    float: right;
    top: -80px;
    height: 30px;
    right: 10px;
    font-size: 20px;
    font-family: 'Kurale';
}
#sum {
    position: relative;
    height: 40px;
    top: 70px;
}
#button3 {
    position: relative;
    top: 121px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: rgba(210, 47, 30, 0.9);
    font-size: 23px;
    font-family: 'Kurale';
    cursor: pointer;
}
#button2:hover {
    background-color: rgb(28, 100, 242);
}
#button3:hover {
    background-color: rgb(254, 7, 0);
}
#button2:active {
    background-color: rgb(8, 98, 242);
}
#button3:active {
    background-color: rgb(205, 4, 24);
}
#button2:focus {
    outline: none;
}
#button3:focus {
    outline: none;
}
.productBasket {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 150px;
    bottom: 10px;
    top: 10px;
    padding-bottom: 70px;
}
.productBasket h4 {
    position: relative;
    height: 35px;
    width: 200px;
    font-size: 20px;
    top: 50px;
}
#price2 {
    width: 200px;
    position: relative;
    float: right;
    top: -20px;
    font-size: 18px;
    left: 240%;
}
.number {
    position: relative;
    top: 110px;
    left: 200%;
    display: inline-flex;
}
.productBasket{
    width: 200px;
    height: 150px;
    position: relative;
    bottom: 10px;
}
.description1 {
    position: absolute;
    float: right;
    width: 160%;
    top: 100px;
    left: 150%;
    font-size: 18px;
}
#productsInBasket {
    position: relative;
    width: 50px;
    height: 25px;
    text-align: center;
    float: right;
    top: 8px;
    font-size: 20px;
    background-color: rgba(244, 246, 253, 0.7);
    border-radius: 65px;
}
.productBasket img {
    position: relative;
    top: -50px;
}
.productBasket input {
    height: 20px;
}
.productBasket hr {
    position: relative;
    top: -40px;
    width: 300%;
}
.bodyAuth {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: url(../image/auth1.jpg) 400%;
}
.auth {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: 180px;
    background-color: rgba(255, 153, 0, 0.64);
    border-radius: 50px;
}
.authInp {
    position: relative;
    top: 40px;
    left: 110px;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    font-size: 20px;
    outline: none;
}
.authLab {
    position: relative;
    width: 100%;
    top: 70px;
    left: 20px;
    font-size: 20px;
}
.authButt {
    width: 190px;
    height: 50px;
    position: relative;
    top: 70px;
    left: 110px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Kurale';
}
.authLang {
    position: relative;
    left: 250px;
    top: 30px;
}
.bodyOffice {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: url(../image/fon1.jpg) repeat;
    background-attachment: fixed;
    min-height: 1000px;
}
.userOffice {
    width: 70%;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    top: 130px;
    height: 130px;
    background: rgba(255, 255, 255, 0.83);
}
.userOffice h1{
    position: relative;
    margin-top: 20px;
    top: 20px;
    left: 20px;
}
.bodyAuth h1 {
    color: white;
}
.bodyOffice h1 {
    position: absolute;
    top: 69px;
    background-color: white;
    width: 100%;
    text-align: center;
}
#map_canvas {
    width: 500px;
    height: 500px;
}
.navBar {
    position: relative;
    height: 40px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(136, 185, 245, 0.89);
}
.navBar a {
    text-decoration: none;
    color: #953bd6;
    padding: 160px;
}
#takeAway {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.72);
}
#delivery {
    position: relative;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.89);
    left: 100px;
    width: 85%;
    text-align: center;
    font-size: 20px;
}
.shop {
    width: 500px;
    position: relative;
}
.orderBas {
    position: relative;
    background-color: rgba(255, 255, 255, 0.72);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
}
.orderBas h2 {
    position: relative;
    font-size: 25px;
    text-align: center;
}
.description2 {
    position: relative;
    width: 80%;
    left: 230px;
    font-size: 18px;
}
#price3 {
    width: 200px;
    position: relative;
    float: right;
    font-size: 18px;
    top: -30px;
}
#countProd {
    position: relative;
    width: 200px;
    left: 230px;
    font-size: 20px;
}
.orderBas img {
    position: relative;
    top: -140px;
    left: 20px;
}
.productBasket1 {
    position: relative;
    height: 210px;
}
.productBasket1 h4 {
    position: relative;
    left: 20px;
    font-size: 20px;
    top:-40px;
}
.productBasket1 hr {
    top: -140px;
    position: relative;
}
#takeAway ul {
    list-style: none;
    display: inline-flex;
}
#liTake {
    left: 90px;
    position: relative;
    overflow: scroll;
    max-height: 300px;
}
.sumOrder {
    top: 100px;
    font-size: 23px;
    position: relative;
    left: 90px;
}
.sumOrder1 {
    float: right;
    font-size: 23px;
    top: 30px;
    position: relative;
}
.button4 {
    float: right;
    top: 100px;
    position: relative;
    border-radius: 15px;
    background: rgba(7, 12, 247, 0.72);
    box-shadow: 0 -3px rgb(28, 100, 242) inset;
    transition: 0.2s;
    padding: .5em 1em calc(.5em + 1px);
    text-decoration: none;
    color: white;
    font-family: 'Kurale';
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    left: 60px;
}
.button4:hover {
    background-color: rgb(28, 100, 242);
}
.button4:active {
    background-color: rgb(8, 98, 242);
}
.button4:focus {
    outline: none;
}

.bodyHistory {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: url(../image/fon1.jpg) repeat;
    background-attachment: fixed;
    min-height: 1200px;
}
.bodyHistory hr {
    position: relative;
    top: -40px;
}
#history {
    position: relative;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
    top: 69px;
}
.historyOffice {
    position: relative;
    height: 120px;
    background: rgba(255, 255, 255, 0.83);
    margin-left: 200px;
    margin-right: 200px;
}
.historyOffice ul {
    list-style: none;
    display: inline-flex;
}
#historyLi1 {
    width: 500px;
}
#historyLi2 {
    position: relative;
    left: 100px;
    width: 200px;
}
#history1 {
    font-size: 23px;
    text-decoration: none;
}
.history {
    position: relative;
    margin-top: 140px;
}
.officeComments {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 140px;
}
.officeComments h2 {
    width: 100%;
    text-align: center;
    background: white;
}
#comment {
    position: relative;
    margin-left: 200px;
    width: 70%;
    height: 100px;
}
.button5 {
    float: right;
    position: relative;
    border-radius: 15px;
    background: rgba(7, 12, 247, 0.72);
    box-shadow: 0 -3px rgb(28, 100, 242) inset;
    transition: 0.2s;
    text-decoration: none;
    color: white;
    font-family: 'Kurale';
    font-size: 15px;
    cursor: pointer;
    width: 200px;
    right: 200px;
}
#date {
    float: right;
    font-size: 20px;
}
#RESULT {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}
.comment {
    background-color: rgba(255, 255, 255, 0.83);
    padding-left: 20px;
}